{% extends 'index_producto.html' %}
{% block title %} entrar {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <form action="/registrar_productos" method="POST">
      <div class="form-group">
      <center><label>NOMBRE DEL PRODUCTO:</label></center>
      <input type="text" class="form-control" name="name_pro" value="{{name_pro}}"> 
      </div>
      <div class="form-group">
      <center><label>DESCRIPCION:</label></center>
      <input type="text" class="form-control" name="des_producto" value="{{des_producto}}">
      </div>
      <div class="form-group">
      <center><label>PRECIO:</label></center>
      <input type="text" class="form-control" name="pre_productos" value="{{pre_producto}}">
      </div>
      <div class="form-group">
          <center><label>IMAGEN:</label></center>
          <input type="file" class="form-control" name="img_producto" value="{{img_producto}}">
      </div>
      <div class="form-group">
        <br>
      <center><button type="submit" class="btn btn-success" id="crea_pro">ACTULIZAR PRODUCTO</button></center>
      </div>
      </form>
      </div>
  </div>
</div>
</center>


</div>
<footer class="bg-dark p-3 mt-5">
<p class="text-center m-0 text-muted">CARTA DE VIRTUAL SJA</p>
</footer>
{% endblock %}