{% extends 'index_producto.html' %}
{% block title %} entrar {% endblock %}
{% block content %}
</div>
<div class="container mt-5" >
  <table class="table">
    <thead>
      <tr class="table-warning text-center">
        <th scope="col" style="background-color: black; color:blue;">NOMBRE</th>
        <th scope="col" style="background-color: black; color:blue;">DESCRIPCION</th>
        <th scope="col" style="background-color: black; color:blue;">PRECIO</th>
        <th scope="col" style="background-color: black; color:blue;">IMAGEN</th>
        <th scope="col" style="background-color: black; color:blue;">OPERACIONES</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr class="table-info text-center">
        <td>{{producto['nombre']}}</td>
        <td>{{producto['descripcion']}}</td>
        <td>{{producto['precio']}}</td>
        <td>{{producto['imagen']}}
          <img 
           src="{{ producto['imagen'] }}" style="width: 100px; height:100px;">
        </td>
        <td>
          <a href="/e_prod" type="button" class="btn btn-success">EDITAR</a>
          <a href="/eli_pro" type="button" class="btn btn-danger">ELIMINAR</a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
</div>    
</div>


</div>
<footer class="bg-dark p-3 mt-5">
<p class="text-center m-0 text-muted">CARTA DE VIRTUAL SJA</p>
</footer>
{% endblock %}